.block {
  width: 500px;
  height: 500px;
  border: 1px solid gray;
  background-color: rgb(36, 33, 33);
  border-radius: 5px;
  margin-left: 40px;
  margin-top: 30px;
}
.header {
  display: flex;
  justify-content: space-between;
  color: white;
}
.name {
  text-transform: uppercase;
  padding-right: 20px;
}
.id {
  padding-left: 20px;
}
.p{
    display: flex;
    align-items: center;
    justify-content: center;
}
.photo {
  width: 350px;
  height: 350px;
  display: flex;
}
.container3{
    border-bottom: 10px;
}
.type {
  width: 50px;
  background-color: rgb(255, 94, 0);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  padding-left: 2px;
}
.types {
  display: flex;
  height: 30px;
}
.a {
  color: white;
  display: flex;
  width: 480px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(107, 106, 106);
  background-color: rgb(75, 74, 74);
  padding-left: 10px;
  padding-right: 10px;
}
